In [1]:
##primeira célula é feito a importação das bibliotecas
import pandas as pd 
import numpy as np

import folium
from folium import plugins
#importando as bibliotecas o folium trabalha com camadas de mapas, mapa gerado em svg

In [2]:
##configuração do mapa (map set up) mapa Brasil.
mapa  = folium.Map(
                   width = "100%",
                   height = "100%",
                   location = [-15.77972, -47.92972],
                   zoom_start = 4 
                   )

In [3]:
##Mapa_Brasil.html
mapa

In [4]:
mapa.save('Covid-19_MapaBrasil2.html')

In [1]:
df = pd.read_csv('Arquivos_Phythoncovid-19/brasil-io-covid-19.csv')

NameError: name 'pd' is not defined

In [6]:
df

,date,state,city,place_type,confirmed,deaths,is_last,estimated_population_2019,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2020-03-29,AC,Acrelândia,city,2,0.0,True,15256.0,1200013.0,13.10960,NaN
1,2020-03-29,AC,Porto Acre,city,1,0.0,True,18504.0,1200807.0,5.40424,NaN
2,2020-03-29,AC,Rio Branco,city,31,0.0,True,407319.0,1200401.0,7.61074,NaN
3,2020-03-29,AC,NaN,state,34,0.0,True,881935.0,12.0,3.85516,NaN
4,2020-03-29,AL,Importados/Indefinidos,city,4,0.0,True,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2554,2020-02-28,SP,NaN,state,2,NaN,False,45919049.0,35.0,0.00436,NaN
2555,2020-02-27,SP,São Paulo,city,1,NaN,False,12252023.0,3550308.0,0.00816,NaN
2556,2020-02-27,SP,NaN,state,1,NaN,False,45919049.0,35.0,0.00218,NaN
2557,2020-02-26,SP,São Paulo,city,1,NaN,False,12252023.0,3550308.0,0.00816,NaN
2558,2020-02-26,SP,NaN,state,1,NaN,False,45919049.0,35.0,0.00218,NaN

In [7]:
estados = df.loc [df.place_type == 'state' , ['state','confirmed', 'deaths', 'is_last']]

In [8]:
estados.head()

   state  confirmed  deaths  is_last
3     AC         34     0.0     True
7     AL         17     0.0     True
15    AM        140     1.0     True
39    BA        156     1.0     True
70    MG        231     0.0     True

In [9]:
estados.isnull().sum()

state         0
confirmed     0
deaths       52
is_last       0
dtype: int64

In [10]:
estados.loc[estados.deaths.isnull(),'deaths'] = 0

In [11]:
ultimas = estados.loc[estados.is_last == True, ['state', 'confirmed', 'deaths']]

In [12]:
len(ultimas)

27

In [13]:
ultimas.head()

   state  confirmed  deaths
3     AC         34     0.0
7     AL         17     0.0
15    AM        140     1.0
39    BA        156     1.0
70    MG        231     0.0

In [14]:
ultimas['log_confirmed'] = np.log(ultimas['confirmed']+1)
ultimas['log_deaths'] = np.log(ultimas['deaths']+1)

In [16]:
import json

br_estados = "covid-19/br_states.json"
geo_json_data = json.load(open(br_estados))

In [ ]:
geo_json_data

In [ ]:
mapa.choropleth(
    geo_data = geo_json_data,
    name = "CASOS",
    data = ultimas,
    columns = ['state','log_confirmed'],
    key_on = 'feature.id',
    fill_color = "Reds",
    fill_opacity = 0.8,
    line_color = 'white',
    line_opacity = 0.8,
    show = True,
    legend_name = "LOG DE CASOS DO NOVO COVID-19 NO BRASIL"



)

In [ ]:
mapa

In [ ]:
mapa.save('Covid-19_MapaBrasil3.html')

In [ ]:
##criando um novo mapa
mapa.choropleth(
    geo_data = geo_json_data,
    name = "MORTES",
    data = ultimas,
    columns = ['state','log_deaths'],
    key_on = 'feature.id',
    fill_color = "YlOrRd",
    fill_opacity = 0.8,
    line_color = 'white',
    line_opacity = 0.8,
    show = False,
    legend_name = "LOG DE CASOS DO NOVO COVID-19 NO BRASIL"



)

In [ ]:
folium.LayerControl().add_to(mapa)

In [ ]:
mapa